* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* body {
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */
img {
  max-width: 100%;
}
